

<div class="ekart--product--item" appHighlight [disableProduct]="!product.is_in_inventory">
    <div class="ekart-wishlist-sale-container">
        <div class="ekart--add--to--wishlist">
            <i class="fa fa-heart-o" aria-hidden="true"></i>

        </div>
        <div class="ekart-on-sale-tag" *ngIf="product.discountPrice">
            {{(100-(product.discountPrice/product.price)*100).toFixed(1)+'%OFF '}}</div>
    </div>
    <div class="ekart--product--image" >
        <img [src]="product.imageURL" class="ekart--product--image">
    </div>
    <br [hidden]="product.discountPrice">
    <div *ngIf="product.discountPrice">Discounted Price:</div><br>
    <div class="ekart--add--to--price" [hidden]="product.discountPrice">
        {{'$'+product.price}}
    </div>
    <div class="ekart--add--to--price" *ngIf="product.discountPrice">
        {{('$'+product.discountPrice)}}
    </div>
    <br [hidden]="product.discountPrice">
    <div class="ekart--add--to--pric" [hidden]="!product.discountPrice">
        <s>{{('$'+product.price)}}</s>
    </div>

    <div class="ekart--product--name">{{product.name}}</div>
    <div class="ekart--product--category">{{product.gender}} . {{product.brand}} . {{product.category}}</div>
    <div class="ekart--product--available-colors">{{product.color.length}} Colors . Best Seller</div>
    <div class="ekart--product--in--stock"
        [ngStyle]="{fontweight:'bold',color:product.is_in_inventory ? 'Green' : 'Red'}">{{product.is_in_inventory ?
        'Availble in stock' : 'Not available in stock'}}
        </div>
</div> 